<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shuhuai.wheremoney.mapper.BillCategoryMapper">
    <resultMap id="BillCategoryResultMap" type="shuhuai.wheremoney.entity.BillCategory">
        <id column="id" jdbcType="INTEGER" javaType="Integer" property="id"/>
        <result column="book_id" jdbcType="INTEGER" javaType="Integer" property="bookId"/>
        <result column="bill_category_name" jdbcType="VARCHAR" javaType="String" property="billCategoryName"/>
        <result column="svg" jdbcType="LONGVARCHAR" javaType="String" property="svg"/>
        <result column="type" javaType="shuhuai.wheremoney.type.BillType" property="type"
                typeHandler="shuhuai.wheremoney.type.BillTypeHandler"/>
    </resultMap>
    <insert id="insertBillCategorySelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="shuhuai.wheremoney.entity.BillCategory">
        insert into bill_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                book_id,
            </if>
            <if test="billCategoryName != null">
                bill_category_name,
            </if>
            <if test="svg != null">
                svg,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                #{bookId,jdbcType=INTEGER},
            </if>
            <if test="billCategoryName != null">
                #{billCategoryName,jdbcType=VARCHAR},
            </if>
            <if test="svg != null">
                #{svg,jdbcType=LONGVARCHAR},
            </if>
            <if test="type != null">
                #{type},
            </if>
        </trim>
    </insert>
    <select id="selectBillCategoryByBook"
            resultMap="BillCategoryResultMap">
        select *
        from bill_category
        where book_id = #{bookId,jdbcType=INTEGER}
    </select>
    <select id="selectBillCategoryByBookType"
            resultMap="BillCategoryResultMap">
        select *
        from bill_category
        where book_id = #{bookId,jdbcType=INTEGER}
          and type = #{type,jdbcType=VARCHAR}
    </select>
    <select id="selectBillCategoryById" resultMap="BillCategoryResultMap">
        select *
        from bill_category
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>