<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shuhuai.wheremoney.mapper.BillMapper">
    <resultMap id="BillResultMap" type="shuhuai.wheremoney.entity.Bill">
        <id column="id" jdbcType="INTEGER" javaType="Integer" property="id"/>
        <result column="book_id" jdbcType="INTEGER" javaType="Integer" property="bookId"/>
        <result column="in_asset_id" jdbcType="INTEGER" javaType="Integer" property="inAssetId"/>
        <result column="out_asset_id" jdbcType="INTEGER" javaType="Integer" property="outAssetId"/>
        <result column="bill_category_id" jdbcType="INTEGER" javaType="Integer" property="billCategoryId"/>
        <result column="type" javaType="shuhuai.wheremoney.type.BillType" property="type"
                typeHandler="shuhuai.wheremoney.type.BillTypeHandler"/>
        <result column="amount" jdbcType="DECIMAL" javaType="BigDecimal" property="amount"/>
        <result column="time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" property="time"/>
        <result column="remark" jdbcType="VARCHAR" javaType="String" property="remark"/>
    </resultMap>
    <insert id="insertBillSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="shuhuai.wheremoney.entity.Bill">
        insert into bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                book_id,
            </if>
            <if test="inAssetId != null">
                in_asset_id,
            </if>
            <if test="outAssetId != null">
                out_asset_id,
            </if>
            <if test="billCategoryId != null">
                bill_category_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                #{bookId,jdbcType=INTEGER},
            </if>
            <if test="inAssetId != null">
                #{inAssetId,jdbcType=INTEGER},
            </if>
            <if test="outAssetId != null">
                #{outAssetId,jdbcType=INTEGER},
            </if>
            <if test="billCategoryId != null">
                #{billCategoryId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="time != null">
                #{time,jdbcType=DATE},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="selectBillByBookId" resultMap="BillResultMap">
        select book_id,in_asset_id,out_asset_id,bill_category_id,type,amount,time,remark
        from bill
        where book_id = #{bookId,jdbcType=INTEGER}
    </select>
</mapper>